#
# Основной конфигурационный файл автоматизированных тестов UXCROWD.RU
#

# URL тестируемого хоста
testUrl=https://test.uxcrowd.ru

# Директория с графическими паттернами для Sikuli.
sikuliPatternsDir=LinuxSikuliPatterns

# Флаг для работы с CI сервером, отключающий все отладочные фичи (замедление, подсветка).
# Выставить в "true" перед мержреквестом в ветку (develop), используемую для CI.
ciServerFlag=true

# Флаг для подключения видеоплагина
videoPluginFlag=true

# Флаг для использования удалённых браузеров, таких как "Selenium Grid" или "Selenoid"
remoteBrowserFlag=true

#Селениум грид на серверной машинке
#remoteSeleniumHub=84.201.151.187
#remoteSeleniumHubPort=32592

#Локальный селениум грид
#remoteSeleniumHub=192.168.2.118
#remoteSeleniumHubPort=4444

#Селениум в в Digital Ocean
remoteSeleniumHub=selenium.pflb.fzl.su
remoteSeleniumHubPort=4444

# Время приостановки действий для замедления работы (миллисекунды).
uiActionSlowdownFlag=true
uiActionSlowdown=100

# Интервал мигания в миллисекундах, цвет и количество миганий при подсветке Web-элементов
uiFlashFlag=true
uiActionInterval=100
uiFlashColor=#00FF00
uiFlashCount=1

# Размер окна браузера. По умолчанию 1920x1080 Full HD.
browserSize=1920x1080

# Используемый браузер - chrome, firefox, opera
selenideBrowser=chrome

# Время ожидания до падения теста, секунды
failTestTimeout=25

# Учётная запись клиента
clientName=lis
clientPassword=654321
badClientName=lisqwerty
badClientPassword=123456
clientYandexName=client-uxcrowd@yandex.ru
clientYandexPassword=654321
clientForTariffChangingLogin=uxcrowd.basic@yandex.ru
clientForTariffChangingPassword=654321

# Учётная запись тестера
testerName=testir@cliptik.net
testerPassword=123456

# Учётная запись модератора
moderatorName=mooncust
moderatorPassword=654321

# Учётная запись администратора
adminName=ykadmin
adminPassword=654321

# Учётная запись "Vkontakte"
vkUserName=+79032556915
vkUserPassword=1q2w3e4r

# Учётная запись "Google"
googleUserName=perftesting81@gmail.com
googleUserPassword=1q2w3e$R
additionalUserFirstName=Test
additionalUserLastName=Test

# Учётная запись "Twitter"
twitterUserName=Test2fun@yandex.ru
twitterUserPassword=1q2w3e

# E-mail для тестов восстановления паролей
recoveryPasswordEmail=Test6fun@yandex.ru
recoveryPasswordEmailPassword=654321Q
recoveryPasswordNewPassword=123qwe

# Максимальное время ожидания ответа от E-mail сервера, минуты
maxEmailWaitTime=5

# Имя файла кастомного отчёта
customReportFileName=pflb_custom_report.json

# Время просмотра после тестов глазами
eyesViewTimeout=7

# Реквизиты для оплаты банковской картой
cardNumber=4300000000000777
cardExpiredDate=1122
cardCVCCode=111
